@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Oswald:wght@200..700&display=swap');
body{
    display: flex;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

.menu{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 12px 0px #9c9b9b;
    border: 1px solid rgb(200, 200, 200);
}
.logo{
    width: 250px;
    height: 70px;
    margin-top: 0px;
    margin-left: 10px;
    background-image: url(LOGO.png);
}
.inicio {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgba(255, 255, 255, 0.937);
    letter-spacing: 2px; 
    cursor: pointer; 
    font-size: 20px;
    font-family: "Concert One", sans-serif;
    box-shadow: 0px 0px 8px 0px #b9b9b9;
    transition: box-shadow 1s ease, color 1s ease; /* Propiedad animada con duración y tipo */
}

.inicio:hover {
    box-shadow: 0px 1px 10px 0px #258bf1;
    color: #258bf1;
}

.programas {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgba(255, 255, 255, 0.937);
    letter-spacing: 2px; 
    cursor: pointer; 
    font-size: 20px;
    font-family: "Concert One", sans-serif;
    box-shadow: 0px 0px 8px 0px #b9b9b9;
    transition: box-shadow 1s ease, color 1s ease; /* Propiedad animada con duración y tipo */
}

.programas:hover {
    box-shadow: 0px 1px 10px 0px #258bf1;
    color: #258bf1;
}

.juegos {
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    background-color: rgba(255, 255, 255, 0.937);
    letter-spacing: 2px; 
    cursor: pointer; 
    font-size: 20px;
    font-family: "Concert One", sans-serif;
    box-shadow: 0px 0px 8px 0px #b9b9b9;
    transition: box-shadow 1s ease, color 1s ease; /* Propiedad animada con duración y tipo */
}

.juegos:hover {
    box-shadow: 0px 1px 10px 0px #258bf1;
    color: #258bf1;
}